<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${errors != null}">
    <div th:each="error : ${errors}">
        <p th:text="${error.getDefaultMessage()}">Error message</p>
    </div>
</div>
<form th:action="@{/login}" method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="username">
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  <br>
  <button type="submit">Login</button>
</form>
</body>
</html>